#top_bar{
    background-color: black;
}

h1{
    font-size: 16px;
    color: white;
    text-align: center;
}

            /* shawn testing search button css*/
{
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: 1px solid grey;
    float: right;
    width: 20%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: right;
    width: 5%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
            /* end shawns search button css */