.top_bar{
    background-color: #343333;
}

h1{
    color: white;
    text-align: center;
}

            /* shawn testing search button css*/
{
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: 1px solid grey;
    float: right;
    width: 20%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: right;
    width: 5%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
            /* end shawns search button css */

/* Navigation */
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

<<<<<<< Updated upstream
.dropdown-content a {
=======
    .dropdown-content a {
>>>>>>> Stashed changes
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

<<<<<<< Updated upstream
.dropdown-content a:hover {
        background-color: #f1f1f1;
=======
        .dropdown-content a:hover {
            background-color: #f1f1f1;
>>>>>>> Stashed changes
        }

.dropdown:hover .dropdown-content {
    display: block;
}
