<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">
    
    <testsuites>
        <testsuite name="Creative-Writing-Site">
            <directory suffix="profileUnitTest.json/tests/">tests/unit/</directory>
            <directory suffix="uploadUnitTest.json/tests/">tests/unit/</directory>
            <directory suffix="sign-upUnitTest.json/tests/">tests/unit/</directory>
            <directory suffix="projectUnitTest.json/tests/">tests/unit/</directory>
            <directory suffix="displayUnitTest.json/tests/">tests/unit/</directory>
        </testsuite>
    </testsuites>
    
</phpunit>
